---
import Layout from "../layouts/Layout.astro";
import { impressum } from "../data/content.js";
---

<Layout title="Impressum | QOM – Quit Ordinary Marketing" noindex={true}>
  <section class="legal">
    <div class="container">
      <h1 class="h2" style="margin-bottom: 30px;">Impressum</h1>
      <div class="prose">
        <h2>Kontaktadresse</h2>
        <p class="pre-line" data-sbp="adresse">{impressum.adresse}</p>
        <h2>Vertretungsberechtigte Personen</h2>
        <p data-sbp="personen">{impressum.personen}</p>
        <h2>Haftungsausschluss</h2>
        <p data-sbp="haftung">{impressum.haftung}</p>
        <h2>Urheberrechte</h2>
        <p data-sbp="urheber">{impressum.urheber}</p>
      </div>
    </div>
  </section>
</Layout>
